/* css file that could be used for styling different HTML pages */

/* background color */
/* use <html> for global background, use a wrapper for page background */
html{
    /* the gradient background color is treated as an image */
    /* by default the size of gradient image is 100% of the viewport height with bakcground-repeat:repeat */
    background: 
    linear-gradient(to bottom, rgb(235, 250, 231), rgb(198, 224, 204));
    background-repeat: no-repeat;
    min-height: 100%;
}


*{
    font-size: 1.4rem; /*not 1.4 rem*/
}

/* don't use <body> as a layout box */
body{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    margin-bottom: 2%;

    }

.container{
    display: flex;
    justify-content: center;
    height: max-content;
}

.page{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* to avoid too much extra space during zooming */
    max-width: 80rem;
    width: 100%;
    height: max-content;

}
a {
    color: rgb(192, 73, 55);
    text-decoration: none;
    font-weight: bold;
}
/* has is a relation pesudo-class, a:has(img) select the <a> that contains an image anywhere. Use a:has()
    to avoid styling other hyperlinks attached to texts */
a:has(img){
    display: block; /* configure it as a block-level element */
    width: max-content; /* shrink it to fit the size of content */
    margin: 0 auto; /* center it to the parent */
}
a img{
    /* configure it as a block-level element */
    display: block;
    border: 0.2rem solid black;
    /* margin: 0 auto centers the element to its parent */
     margin: 0 auto;
}
h1 {
    font-size: 2rem;
    text-align: center;
    align-self: center;
}
h2 {
    font-size: 1.4rem;
    text-align: left;
    margin-left: 8%;
}
h3 {
    font-size: 1.4rem;
    text-align: left;
}
h4{
    font-size: 1.2rem; 
    line-height: 2.2rem;
    margin-top: 0;
    margin-bottom: 0;
    text-align: justify;
}
a, ul, ol, p {
    font-size: 1.2rem; 
    line-height: 1.8rem;
    max-width: 60rem;

    margin-top: 0;
    margin-bottom: 0;
    text-align: justify;
}
ul{
    list-style: disc;
}
li {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    text-align: justify;
}
img {
    /* vw is based on the viewport, 40vw means 40% of viewport width */
    width:40vw;
    max-width: 50rem;
    height: auto;
}

/* hover is one pesudo-class, refer to the hovered state of an element */
a:hover{
    color: red;
}
/* descendant selector combined with pesudo-element marker*/
ul li::marker{
    color:rgb(67, 109, 148);
}
.img_title{
    text-align: center;
    align-self: center;
}

table{
    width: 100%;
    border: 3px solid black;
    border-collapse: collapse;
    font-size: 1.2rem;
}
th, td{
    border: 3px solid black;
}

.grid-container{
    display: grid;
    grid-template-columns: 2.5fr 2fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    width: 100%;
}

.grid-title{
    grid-column: 1 / span 3;
    font-size: 1.4rem;
    text-align: center;
}

.grid-header{
    font-size: 1.4rem;
    font-weight: bold;
    border: 3px solid black;
    text-align: center;
}

.grid-item{
    font-size: 1.4rem;
    border: 3px solid black;
    border-top: none;
}

.grid-item:nth-child(3n + 7){
    text-align: center;
}

/* the first grid-item is the container's fifth child */
.grid-item:not(:nth-child(3n + 7)){
    border-right: none;
}

.grid-header:not(:nth-child(n + 4)){
    border-right: none;
}

pre{
    white-space: pre-wrap;
    word-wrap: break-word;
    border: 3px solid black;
    text-align: left;
    padding: 0px 0px;
    margin: 0 5px;
    max-width: 40rem;
}

code{
    font-size: 1rem;
    text-align: center;
}

.code-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 50rem;
    margin: 0 auto;

}

.code-comment{
    color: rgb(5, 68, 4);
    font-size: 1rem;
}

/* media query */
@media screen and (max-width: 480px) {
    body{
        font-size: 0.9rem;
        margin-left: 3%;
        margin-right: 3%;
        border: none;
    }
    h1{
        font-size: 0.7rem;
    }
    h2,
    h3,
    h4,
    p,
    a,
    li{
        font-size: 0.6rem;
        line-height: 0.8rem;
        border: none;
    }
    ol, ul{
        /* by default, the list marker is outside the content area
        it would add extra padding space which could look inappropriate on small screen */
        list-style-position: inside;
        padding-left: 0.1rem;
    }
    ul>li{
        position: relative;
        padding-left: 0.6rem; /* space for self-defined bullet */
    }
    ul>li::before{
        content: "•";
        position: absolute;
        left:0;
        top:auto;
    }
    img{
        border:0.2rem solid black;
    }


    ul{
        list-style: none;
        padding-left: 0;
    }

    /* this doesn't work for the image link, priority!! */
    a{
        border: none;
    }
    a:has(>img){
        border:none;
    }

}



